.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position:fixed;
    top: 0px;
    left: 0;
    width: 40%;
    max-width: 200px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin: 0.5 rem 0;
    margin-top: 12px;
}

.side-drawer a {
    color: #521751;
    text-decoration: none;
    font-size: 1.6rem;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #fa923f;
}

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}